.app {
  text-align: center;
  font-family: Bebas;
  font-size: 36pt;
  background-color: #222;
  color: white;
  padding: 20px;
}

.app-header {
  height: 150px;
  padding: 20px;
  font-family: Bebas;
  background-color: #222;
  color: white;
}

.app-intro {
  font-family: Bebas;
  font-size: large;
}

@font-face {
    font-family: Bebas;
    src: local('BebasNeueBold.ttf'), url(%PUBLIC_URL%/fonts/BebasNeueBold.ttf) format('ttf');
  }